// Jumbotron
.jumbotron {
  background: $color-green url(./img/jumbotron-bg.jpg) center no-repeat;
  background-size: cover;
  border-radius: 0;
  box-shadow: inset 0px 11px 8px -10px rgba(black, 0.5),
    inset 0px -11px 8px -10px rgba(black, 0.5);
  margin-bottom: 0;
  text-align: center;

  @include breakpoint(md) {
    background-image: url(./img/jumbotron-bg-md.jpg);
  }

  h1 {
    color: $color-green--dark;
    text-shadow: 0 0 4px white,
      0 0 5px rgba(black, 0.5);
  }

  .profile-pic {
    border: 5px solid white;
    box-shadow: 0 2px 5px rgba(black, 0.5);
    margin: 0 auto 15px auto;
    display: block;
    width: 148px;
    height: 148px;
    transform: rotate(-8deg);

    @include breakpoint(md) {
      width: 240px;
      height: 240px;
    }
  }

  p {
    color: white;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(black, 0.5);

    @include breakpoint(md) {
      color: $color-green--dark;
      text-shadow: 0 1px 0 white;
    }
  }

  .lightwidget__link {
    border: 2px solid white !important;
  }
}
