// Jumbotron
.jumbotron {
  background: $color-green url(./img/jumbotron-bg.jpg) center no-repeat;
  background-size: cover;
  border-radius: 0;
  box-shadow: inset 0px 11px 8px -10px rgba(black, 0.5),
    inset 0px -11px 8px -10px rgba(black, 0.5);
  margin-bottom: 0;
  min-height: 500px;
  position: relative;
  overflow: hidden;

  @include breakpoint(md) {
    background-image: url(./img/jumbotron-bg-md.jpg);
  }

  @include breakpoint(lg) {
    background-image: url(./img/jumbotron-bg-lg.jpg);
  }

  h1 {
    color: $color-green--dark;
    text-shadow: 0 0 4px white,
      0 0 5px rgba(black, 0.5);
  }

  .bio {
    position: absolute;
    bottom: -15px;
    padding: 1rem;
    width: 300px;
    background: rgba(white, 0.85);
    box-shadow: 0 1px 5px rgba(black, 0.5);
    transform: rotate(2deg);
    font-size: 0.8rem;

    @include breakpoint(md) {
      font-size: 1rem;
      bottom: auto;
      top: 15px;
      right: 15px;
      width: 260px;
    }

    @include breakpoint(lg) {
      position: relative;
      float: right;
      bottom: auto;
      top: auto;
      right: auto;
      width: 320px;
    }
  }

// not using for now
  .profile-pic {
    border: 5px solid white;
    box-shadow: 0 2px 5px rgba(black, 0.5);
    margin: 0 auto 15px auto;
    display: block;
    width: 148px;
    height: 148px;
    transform: rotate(-8deg);

    @include breakpoint(md) {
      width: 240px;
      height: 240px;
    }
  }

  p {

    @include breakpoint(md) {
      
    }
  }

  .lightwidget__link {
    border: 2px solid white !important;
  }
}
