.portfolio {

  &__thumbnails {

    a {
      width: 31%;
      height: auto;
      display: block;
      float: left;
      margin: 1%;
      border: 2px solid white;
      box-shadow: 0 1px 5px rgba(black, 0.25);

      @include breakpoint(sm) {
        width: 18%;
        border: 3px solid white;
      }

      @include breakpoint(md) {
        width: 15.5%;
        margin: 0.5%;
        border: 4px solid white;
      }

      transition: all .3s ease-out;

      &:hover {
        transform: rotate(-3deg) scale(1.2);
      }

      &:nth-child(2n):hover {
        transform: rotate(5deg) scale(1.12);
      }

      &:nth-child(3n):hover {
        transform: rotate(-4deg) scale(1.2);
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    &.homepage-portfolio {
      a {
        @include breakpoint(sm) {
          width: 31%;
        }

        @include breakpoint(md) {
          width: 31%;
        }
      }
    }
  }
}