// Variables
$color-green: #bfd6b6;
$color-green--dark: darken($color-green, 60%);



$box-shadow: 0 1px 3px rgba(black, 0.122);

// Breakpoints
$break-xs: 320px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;
