// Base Styles
body {
  background: #333;
}

a {
  color: $color-green--dark;
}

h1, h2 {
  color: $color-green--dark;
  // font-family: 'Trade Winds', cursive;
  font-family: 'Pirata One', cursive;
  text-transform: uppercase;
}

h1 {
  font-size: 1.75rem;

  @include breakpoint(md) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.5rem;

  @include breakpoint(md) {
    font-size: 2rem;
  }
}

h3 {
  font-family: 'Pirata One', cursive;
}

h4 {
  font-family: 'Pirata One', cursive;

  a {
    color: #333;
  }
}

.btn-primary {
    background-color: $color-green--dark;
    border-color: $color-green--dark;

    &:hover {
      background-color: $color-green--dark;
    }
}
